@model BudgetTracker.DTOs.ExpenseDto

@{
    ViewData["Title"] = "Edit Expense";
}

<div class="card border-primary">
    <div class="card-header bg-primary text-white">Edit Expense</div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="TagId" class="control-label">Category</label>
                    <select asp-for="TagId" class="form-control" asp-items="ViewBag.Tags"></select>
                    <span asp-validation-for="TagId" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                 </div>
                 <div class="col-md-6">
                    <label asp-for="DateIncurred" class="control-label">Date Incurred</label>
                    <input asp-for="DateIncurred" class="form-control" type="date"/>
                    <span asp-validation-for="DateIncurred" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
